/*Flipando en colorines con el CSS by Guerra*/

/*MuiPaper-root
.MuiDrawer-paper
.MuiDrawer-paperAnchorBottom
.MuiPaper-elevation16*/
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight{
    margin-top:100px;
    background-color: #3c3abb;
    color: #ffffff;
    width: 460px;
}

