/*Flipando en colorines con el CSS by Guerra*/

/*MuiPaper-root
.MuiDrawer-paper
.MuiDrawer-paperAnchorBottom
.MuiPaper-elevation16*/
.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight{
    background : linear-gradient(90deg, rgba(63, 63, 199, 0) 0%, rgba(63, 63, 199, 0.05) 5.31%, rgba(63, 63, 199, 1) 100%);
    color: #ffffff;
    width: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.MuiPaper-elevation16{
    box-shadow: none !important;
}