@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{
    background-color: #44477E;
}

.main .header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;
    padding: 0;
}

.main .header h2{
    color: white;
    font-family: 'Courgette', cursive;
    text-align: center;
}

.main h1{
    color: white;
    font-family: 'Courgette', cursive;
    padding: 15px;
}

.main .header > div:nth-child(1){
    background-color: #44477ede;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 500px;
    z-index: 2;
    box-shadow: 0px 5px 10px #24266c9a;
    position: absolute;
}

.main .header > div:nth-child(2){
    width: 100%;
    min-height: 800px;
    margin: auto;
    position: absolute;
    overflow: hidden;
}

.main .header > div:nth-child(2) > ul{
    padding: 0;
    display: flex;
    width: 600%;
    max-height: 500px;
    animation: cambio 6s steps(1) infinite;
}

.main .header > div:nth-child(2) > ul > li{
    width: 100%;
    list-style: none;
}

.main .header > div:nth-child(2) img{
    width: 100%;
    object-fit: none;
    height: 633px;
}

@keyframes cambio {
    0% { margin-left:0;}
    20% { margin-left:0;}

    25% { margin-left:-100%;}
    45% { margin-left:-100%;}

    50% { margin-left:-200%;}
    70% { margin-left:-200%;}

    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}

.main .header > div > div > button{
    border-radius: 40px;
    height: 50px;
    color: white;
    font-weight: bolder;
    margin-right: 10px;
    width: 150px;
    box-shadow: 0px 3px 10px #24276C;
}


.main .header > div > div > button:first-child{
    background-color: #FB6C93;

}

.main .header > div > div > button:last-child{
    background-color: #3F3FC7;
}

.main .header > div > div> button:first-child:hover {
    background-color: #d62e5b;
    box-shadow: 0px 13px 10px #24276C;

}

.main .header > div > div > button:last-child:hover{
    background-color: #2f2f97;
    box-shadow: 0px 13px 10px #24276C;
}

.main b{
    color: #FB6C93;
}

.trending{
    margin-bottom: 50px;
}

.trending > div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

.trending > div:last-child img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.15s ease-in;
    position: relative;
    clip-path: inset(0px 40px 0px 40px);
    margin-left:-74px ;
}

.trending > div:last-child img:hover{
    box-shadow: 0px 0px 20px #15174b;
    width: 350px;
    height: 200px;
    transform: scale(1.1,1.1);
    position: relative;
    z-index: 2;
    clip-path: inset(-40px -40px -40px -40px);
}