.listado{
    display:flex;  
    list-style:none;
}

.row{
    display:flex;  
    color: white;
    list-style: none; 
    border-color: aliceblue;
    border: 2cm;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid white;
}

.synopsis{
    color: white;
    margin-left: 15px;
}

.row > div{
    border-right: 1px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.row > :first-child{
    border-left: 1px solid white;
}

.image-anime{
    width: 150px;
}