@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
background-color: #24276C;
}

.genre{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.genre button{
    width: max-content;
    margin: 10px;
    background-color: #44477E;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    color: #FB6C93;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    transition: 0.1s ease-in;
    box-shadow: 0px 3px 10px #13154e;
    display: inline-block!important;
}

.genre button:hover{
    background-color: #FB6C93;
    color: #24276C;
}

.genre button.selected{
    background-color: #FB6C93;
    color: #24276C;
}

.genre>input[type="submit" i]{
    background-color: #FB6C93;
    border: none;
    font-family: 'Acme', sans-serif;
    height: 80px;
    font-size: 30px;
    color: #24276C;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #13154e;
}

.genre>input[type="submit" i]:hover{
    background-color: #44477E;
    color: #ffffff;
}
.msg-error{
    text-align: center;
    color: white;
}